POSTGRES_DB=fanuc
POSTGRES_USER=fanuc
POSTGRES_PASSWORD=fanuc
POSTGRES_PORT=5432
DASHBOARD_PORT=8080

MQTT_HOST=fanuc-iot.eu
MQTT_PORT=443
MQTT_TOPIC=FANUC-PL/#
MQTT_CLIENT_ID=fanuc-mqtt-collector
MQTT_KEEPALIVE=60

# The partner certificate currently does not match fanuc-iot.eu.
MQTT_INSECURE_HOSTNAME=true

CERTS_HOST_PATH=/Users/paweldera/Documents/Projekty/FANUC MQTT/certy
